<template>
  <div class="hello-world">
    <template v-if="isLoading">
      <span>Loading...</span>
    </template>
    <template v-else>
      <template v-if="arrLength">
        <ul>
          <li
            v-for="(student, index) in students"
            v-bind:key="index"
            v-on:click="handleStudentClick(student)"
          >
            {{ student.name }}, {{ student.age }}
          </li>
        </ul>
      </template>
      <template v-else>
        <span>There is currently no student.</span>
      </template>
      <span v-if="message">{{ message }}</span>
      <form v-on:submit="handleSubmit">
        <label for="name">Name</label>
        <input 
          id="name"
          type="text"
          required
          v-model="name">
        <label for="age">Age</label>
        <input
          id="age"
          type="number"
          required
          v-model="age">
        <button type="submit">Add New Student</button>
      </form>
    </template>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  mounted() {
    console.log('menjalankan function setelah component dirender');
    console.log('dijalankan sebelum mengambil data dari back-end');
    this.isLoading = true;
    console.log('ambil data dari be');
    setTimeout(() => {
      console.log('pengambilan data sudah selesai');
      this.isLoading = false
    }, 3000)
  },
  data() {
    return {
      isLoading: false,
      students: [],
      name: '',
      age: null,
      message: ''
    }
  },
  computed: {
    arrLength() {
      return this.students.length;
    }
  },
  methods: {
    handleStudentClick(student) {
      // eslint-disable-next-line
      console.log(student);
    },
    handleSubmit(e) {
      e.preventDefault();
      const age = parseInt(this.age);
      if (this.name && this.age) {
        if (isNaN(age)) {
          return;
        }
        this.students.push({
          name: this.name,
          age: age
        });

        this.name = '';
        this.age = null;
      }
    }
  },
  watch: {
    students(newStudents, oldStudents) {
      this.message = 'New student(s) added';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello-world {
  position: relative;
  top: 55px;
}
</style>
