<template>
  <div class="navbar">
    <button v-on:click="toggleSidebar">{{ menuText }}</button>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    sidebarIsOpen: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    menuText() {
      if (this.sidebarIsOpen) {
        return 'Close';
      }
      return 'Menu';
    }
  },
  methods: {
    toggleSidebar() {
      const payload = { message: 'custom event dari navbar.' };
      this.$emit('toggle', payload);
    }
  }
}
</script>

<style scoped>
.navbar {
  background-color: rgb(81, 111, 209);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
}
</style>
