<template>
  <div class="sidebar"></div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style scoped>
.sidebar {
  background-color: rgb(204, 207, 207);
  position: fixed;
  top: 50px;
  width: 270px;
  height: 100%;
  z-index: 100;
}
</style>
