<template>
  <div id="app">
    <Navbar
      v-on:toggle="handleToggle"
      v-bind:sidebarIsOpen="sidebarIsOpen"
    />
    <Sidebar v-if="sidebarIsOpen" />
    <HelloWorld />
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';
import Sidebar from './components/Sidebar.vue';
import HelloWorld from './components/HelloWorld.vue';

export default {
  name: 'app',
  components: {
    Navbar,
    Sidebar,
    HelloWorld
  },
  data() {
    return {
      sidebarIsOpen: false
    }
  },
  methods: {
    handleToggle(payload) {
      this.sidebarIsOpen = !this.sidebarIsOpen;
      console.log(payload.message);
    }
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
